<table>
  <thead>
    <tr>
      <th>Pass a Message</th>
      <th>Pass Multiple Params</th>
      <th>Toggles</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><button (click)="logTest()">log() Test</button></td>
      <td><button (click)="stringTest()">Message and Strings</button></td>
      <td><button (click)="toggleLogging()">Toggle Logging</button></td>
    </tr>
    <tr>
      <td><button (click)="debugTest()">debug() Test</button></td>
      <td><button (click)="boolTest()">Message and Booleans</button></td>
      <td><button (click)="toggleDate()">Toggle Date Stamp</button></td>
    </tr>
    <tr>
      <td><button (click)="infoTest()">info() Test</button></td>
      <td><button (click)="numberTest()">Message and Numbers</button></td>
      <td><button (click)="clearLog()">Clear All Log Entries from Local Storage</button></td>
    </tr>
    <tr>
      <td><button (click)="warnTest()">warn() Test</button></td>
      <td><button (click)="objectTest()">Message and Objects</button></td>
      <td></td>
    </tr>
    <tr>
      <td><button (click)="errorTest()">error() Test</button></td>
      <td><button (click)="arrayTest()">Message and Array</button></td>
      <td></td>
    </tr>
    <tr>
      <td><button (click)="fatalTest()">fatal() Test</button></td>
      <td><button (click)="allTypesTest()">Message and All Types</button></td>
      <td></td>
    </tr>
    <tr>
      <td><button (click)="setOptionsTest()">Set Options Test</button></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>