<form (ngSubmit) = "false">
  <h1>Enable/Disable Log :</h1>
  <label class="switch">

    <input type="checkbox" [checked]='isChecked' (click) = "enableLog()">
    <span class="slider round" ></span>
  </label>

  <!-- Rounded switch -->
  <h1>Enable Date :</h1>
  <label class="switch">

    <input type="checkbox" checked (click) = "enableDate()">
    <span class="slider round"></span>
  </label>


<br>
<br>
<br>
<fieldset >
  <legend>Log Level :</legend>

  <div>
    <input type="radio" id="debug" name="log" value="Debug" checked (change) = "setLogLevel('Debug')"/>
    <label for="debug">Debug</label>
  </div>

  <div>
    <input type="radio" id="info" name="log" value="Info"  (change) = "setLogLevel('Info')"/>
    <label for="info">Info</label>
  </div>

  <div>
    <input type="radio" id="warn" name="log" value="warn"  (change) = "setLogLevel('Warn')"/>
    <label for="warn">Warn</label>
  </div>

  <div>
    <input type="radio" id="error" name="log" value="Error"  (change) = "setLogLevel('Error')"/>
    <label for="error">Error</label>
  </div>

  <div>
    <input type="radio" id="all" name="log" value="All"  (change) = "setLogLevel('All')"/>
    <label for="all">All</label>
  </div>
</fieldset>


<br>

<input type="button" (click) = "logger.debug('test')" value="Debug Test"/><br><br>
<input type="button" (click) = "logger.info('test')" value="Info Test"/><br><br>
<input type="button" (click) = "logger.warn('test')" value="Warn Test"/><br><br>
<input type="button" (click) = "logger.error('test')" value="Error Test"/><br><br>
<input type="button" (click) = "logger.log('test')" value="All Test"/><br><br>



